@import "bootstrap";

/* homeレイアウト */

.app-title{
    font-family: 'Playfair Display',serif;
}


.jumbotron-extend{
    position: relative;
    height: 100vh;
    width: 100%;
    min-height: 300px;
    background: image-url('destiny2-2.jpg')no-repeat center center;
    background-size: cover;
}

.jumbotron-container{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.site-name{
    margin-bottom: 40px;
    font-family: 'Playfair Display',serif;
    color: #fff;
}

.site-introduction{
    color: #fff;
}

.btn-lg{
    border-radius: 0;
    background-color: #00f;
    color: #fff;
    font-family: 'Avenir',serif;
}

.btn-lg:hover{
    background-color: #fff;
    color: #000;
}


.contents {
    max-width: 990px;
    margin: 0 auto;
}
.content-primary,
.content-secondary {
    padding-left: 0;
    padding-right: 0;
}

.content-primary {
    float: left;
    width: 52.08%;
    height: 70vh;
    background: image-url('destiny2-1.jpg') no-repeat center center;
    background-size: cover;
}
.content-secondary {
    float: right;
    width: 37.92%;
}

.footer.h2{
    text-align: center;
    font-family: 'Playfair Display',serif;
}

/* マイページ */
.thumbnail{
    margin: auto;
    position: relative;
}

.thumbnail img{
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.btn-default{
    background-color: #ccd;
}

/*編集ページ*/
.h2{
    text-align:center;
}

/*投稿一覧ページ*/
.media{
    margin: auto;
    position: relative;
}

.media img{
  border-radius: 50%;
}

.h8{
    font-size: 1px; 
    bottom: 0px;
    float: right;
}
