@import "bootstrap";

/* homeレイアウト */

.app-title{
    font-family: 'Playfair Display',serif;
}

.title{
    font-weight: bold;
}

.title1{
    font-weight: bold;
    padding: 100px 0px 100px 0px;
}

.title2{
    font-weight: bold;
    font-size: 50px;
    padding: 100px 0px 100px 0px;
}

.title3{
    font-weight: bold;
    font-size: 50px;
    padding: 70px 0px 100px 0px;
}

.jumbotron-extend{
    position: relative;
    height: 100vh;
    width: 100%;
    min-height: 300px;
    background: image-url('destiny2-2.jpg')no-repeat center center;
    background-size: cover;
    background-color:rgba(255,255,255,0.1);
    background-blend-mode:lighten;
}

.jumbotron-extend1{
    position: relative;
    height: 100vh;
    width: 100%;
    min-height: 300px;
    background: image-url('destiny2-7.jpg')no-repeat center center;
    background-size: cover;
}

.jumbotron-extend2{
    position: relative;
    height: 100vh;
    width: 100%;
    min-height: 300px;
    background: image-url('destiny2-22.jpg')no-repeat center center;
    background-size: cover;
}

.jumbotron-extend3{
    position: relative;
    height: 100vh;
    width: 100%;
    min-height: 300px;
    background: image-url('destiny2-8.jpg')no-repeat center center;
    background-size: cover;
}

.jumbotron-container{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.description-parts {
  padding: 200px 0px 20px 0px;
  font-weight: bold; // 太文字にする
}

.description-parts1 {
  padding: 10px 0px 20px 0px;
  font-weight: bold; // 太文字にする
}

.site-name{
    margin-bottom: 40px;
    font-family: 'Playfair Display',serif;
    color: #fff;
    background-color:rgba(255,255,255,0);
    font-weight: bold;
    background-color:rgba(255,255,255,0);
    font-size: 60px;
}

.site-introduction{
    color: #fff;
}

.button-position{
    //padding: 50px 0px 0px 0px;
}

.btn-lg{
    border-radius: 0;
    background-color: #00f;
    color: #fff;
    font-family: 'Avenir',serif;
}

.btn-lg:hover{
    background-color: #fff;
    color: #000;
}


.contents {
    max-width: 990px;
    margin: 0 auto;
}
.content-primary,
.content-secondary {
    padding-left: 0;
    padding-right: 0;
}

.content-primary {
    float: left;
    width: 52.08%;
    height: 70vh;
    background: image-url('destiny2-1.jpg') no-repeat center center;
    background-size: cover;
}
.content-secondary {
    float: right;
    width: 37.92%;
}

.footer.h3{
    text-align: center;
    font-family: 'Playfair Display',serif;
}


/* マイページ */
.thumbnail{
    margin: auto;
    position: relative;
    text-align: center;
}

.thumbnail img{
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.btn-default{
    background-color: #ccd;
}

.input-table{
    width: 100%;
}

h1{
    font-weight: bold;
}

/*編集ページ*/
.h2{
    text-align:center;
    font-weight: bold;
}

/*投稿一覧ページ*/
.media{
    margin: auto;
    position: relative;
}

.media img{
  border-radius: 50%;
}

.h8{
    font-size: 1px; 
    bottom: 0px;
    float: right;
}

/*自慢の一枚投稿ページ*/
.card{
    width: 200%;
}

.card-img-top{
    border-radius: 3px;
}

.card-text{
    text-align: right;
}

/*自慢の一枚投稿詳細ページ*/
.image_arrangement{
    margin: auto;
    text-align: center;
}

/*評価ボタン*/
.like-btn{
    font-size: 18px;
    color: #808080;
}

.unlike-btn{
    font-size: 18px;
    color: #e54747;
} 

/*ランキング機能*/
.fas fa-crown{
    color: red;
}


/*headerホバー*/
b{
  position: relative;
  display: inline-block;
  text-decoration: none;
}
b::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}
b:hover::after {
  transform: scale(1, 1);
}

.fa-top {
  font-size: 50px;
  padding: 180px 0px 20px 0px;
}

p {
  padding: 0px 0px 100px 0px;
}