@import "bootstrap";

body{
    font-family: 'Noto Sans JP', sans-serif;
}

/* homeレイアウト */

.app-title{
    font-family: 'Playfair Display',serif;
}

.title{
    font-weight: bold;
}

.title1{
    font-weight: bold;
    font-size: 32px;
    padding: 100px 0px 0px 0px;
}

.title2{
    font-weight: bold;
    font-size: 32px;
    padding: 100px 0px 100px 0px;
}

.title3{
    font-weight: bold;
    font-size: 32px;
    padding: 70px 0px 0px 0px;
}

.section-title1{
    font-weight: bold;
    font-size: 32px;
}

.jumbotron-extend{
    position: relative;
    height: 100vh;
    width: 100%;
    min-height: 300px;
    background: image-url('destiny2-2.jpg')no-repeat center center;
    background-size: cover;
    background-color:rgba(255,255,255,0.1);
    background-blend-mode:lighten;
}

.jumbotron-extend1{
    position: relative;
    height: 100vh;
    width: 100%;
    min-height: 300px;
    background: image-url('destiny2-7.jpg')no-repeat center center;
    background-size: cover;
}

.jumbotron-extend2{
    position: relative;
    height: 100vh;
    width: 100%;
    min-height: 300px;
    background: image-url('destiny2-22.jpg')no-repeat center center;
    background-size: cover;
}

.jumbotron-extend3{
    position: relative;
    height: 100vh;
    width: 100%;
    min-height: 300px;
    background: image-url('destiny2-8.jpg')no-repeat center center;
    background-size: cover;
}

.jumbotron-container{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.description-parts {
  padding: 200px 0px 20px 0px;
  font-weight: bold; // 太文字にする
}

.description-parts1 {
  padding: 0px 0px 0px 0px;
  font-weight: bold; // 太文字にする
}

.site-name{
    margin-bottom: 40px;
    font-family: 'Playfair Display',serif;
    color: #fff;
    background-color:rgba(255,255,255,0);
    font-weight: bold;
    background-color:rgba(255,255,255,0);
    font-size: 55px;
}

.site-introduction{
    color: #fff;
    font-weight: bold;
    padding: 0 0 50px 0;
}


.btn-lg{
    border-radius: 0;
    background-color: #00f;
    color: #fff;
    font-family: 'Avenir',serif;
}

.btn-lg:hover{
    background-color: #fff;
    color: #000;
}


.contents {
    max-width: 990px;
    margin: 0 auto;
}
.content-primary,
.content-secondary {
    padding-left: 0;
    padding-right: 0;
}

.content-primary {
    float: left;
    width: 52.08%;
    height: 70vh;
    background: image-url('destiny2-1.jpg') no-repeat center center;
    background-size: cover;
}
.content-secondary {
    float: right;
    width: 37.92%;
}

.footer.h3{
    text-align: center;
    font-family: 'Playfair Display',serif;
}


/* マイページ */
.thumbnail{
    margin: auto;
    position: relative;
    text-align: center;
}

.thumbnail img{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-size: cover;
}

.btn-default{
    background-color: #ccd;
}

.input-table{
    width: 100%;
}

h1{
    font-weight: bold;
}

@media screen and (max-width:600px) { 
  table, tbody, tr, th, td {
    display: block;
    max-width: 100%; 
  }
}

@media screen and (min-width:601px) { 
  th {
    width: 18%;
  }
}

table{
  border-collapse:collapse;
  margin:0 auto;
}

th{
  border:1px solid #ccc;
  padding:10px;
  background:#EFEFEF;
}

td{
  border:1px solid #ccc;
  padding:10px;
}


/*編集ページ*/
.h2{
    text-align:center;
    font-weight: bold;
}

/*募集投稿一覧ページ*/
.media{
    margin: auto;
    position: relative;
    object-fit: cover;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.2));
}

.media img{
  border-radius: 50%;
}

.h6{
    line-height: 1.5;
}

.h8{
    font-size: 1px; 
    bottom: 0px;
    float: right;
}

/* 詳細ページ */
.title5{
    padding: 40px 0px 20px 0px;
}

.title6{
    padding: 40px 0px 30px 0px;
}

/*自慢の一枚投稿ページ*/
.card{
    width: 200%;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}

.card-img-top{
    border-radius: 3px;
}

.card-text{
    text-align: right;
}

/*自慢の一枚投稿詳細ページ*/
.image_arrangement{
    margin: auto;
    text-align: center;
}

/*評価ボタン*/
.like-btn{
    font-size: 18px;
    color: #808080;
}

.unlike-btn{
    font-size: 18px;
    color: #e54747;
} 

/*ランキング機能*/
.fas fa-crown{
    color: red;
}


/*headerホバー*/
b{
  position: relative;
  display: inline-block;
  text-decoration: none;
}
b::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}
b:hover::after {
  transform: scale(1, 1);
}

.fa-top {
  font-size: 50px;
  padding: 180px 0px 20px 0px;
}

p {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.jumbotron-extend4{
    position: relative;
    width: 100%;
    min-height: 200px;
    background: image-url('destiny2-23.jpg')no-repeat center center;
    background-size: cover;
    background-color:rgba(255,255,255,0.05);
    background-blend-mode:lighten;
}


.page-name1{
    margin-bottom: 100px;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    background-color:rgba(255,255,255,0);
}

.jumbotron-extend5{
    position: relative;
    width: 100%;
    min-height: 200px;
    background: image-url('destiny2-33.jpg')no-repeat center center;
    background-size: cover;
    background-color:rgba(255,255,255,0.05);
    background-blend-mode:lighten;
    background-position: top;
}


.jumbotron-extend6{
    position: relative;
    width: 100%;
    min-height: 200px;
    background: image-url('destiny2-26.jpg')no-repeat center center;
    background-size: cover;
    background-color:rgba(255,255,255,0);
    background-blend-mode:lighten;
    background-position: top;
}

.jumbotron-extend7{
    position: relative;
    width: 100%;
    min-height: 200px;
    background: image-url('destiny2-32.jpg')no-repeat center center;
    background-position: 100% 33%;
    background-size: cover;
    background-color:rgba(255,255,255,0);
    background-blend-mode:lighten;
}

/* footer */
#footer p {
    display: block;
    padding-top: 70px;
    color: #878c93; //文字色
}

#footer ul {
    padding-top: 45px;
    li {
        list-style: none;
        padding: 0;
        margin: 0 0 14px 0;
        line-height: 16px;
        color: #9a9fa5;
    }
}

/*プライバシーポリシー*/
.content-privacy{
    font-size: 28px;
    margin: 50px 0px;
    padding-top: 30px;
}

/*利用規約*/
.content-term{
    font-size: 28px;
    margin: 50px 0px;
    padding-top: 30px;
}

/* コメント機能 */
.span{
    font-size: 10px;
}

h6:hover {
    color:#0099FF;
    text-decoration: underline;
}

.card-img-top{
    object-fit: cover;
}

/* サイト使い方ページ */
.display1{
    filter: drop-shadow(6px 6px 6px rgba(0,0,0,0.6));
    padding: 50px;
}

.display2{
    filter: drop-shadow(6px 6px 6px rgba(0,0,0,0.6));
    padding: 50px;
}

.display3{
    filter: drop-shadow(6px 6px 6px rgba(0,0,0,0.6));
    padding: 50px;
}

.display4{
    filter: drop-shadow(6px 6px 6px rgba(0,0,0,0.6));
    padding: 50px;
}

.title10{
    font-size: 30px;
    padding: 80px 0px 80px 0px;
    letter-spacing: 0.03em
}

.angle-double-down{
    font-size: 30px;
    padding: 50px;
}

.point{
    padding: 50px 0px 50px 0px;
    font-size: 24px;
}

.text-font1{
    font-weight: bold;
    font-size: 20px;
    padding: 0px 0px 40px 0px;
}

.text-position{
    padding: 100px 0px 0px 0px;
    font-weight: bold;
}

.text-size1{
    font-weight: bold;
}

.text-size2{
    font-weight: bold;
    font-size: 30px;
    padding: 50px 0px 0px 0px;
}

.dokidoki{
    animation: dokidoki 1.5s infinite;
    width: 150px;
    height: 40px;
}

@keyframes dokidoki {
	0% {
		transform: scale(1.05)
	}
	5% {
		transform: scale(1)
	}
	95% {
		transform: scale(1)
	}
	100% {
		-webkit-transform: scale(1.05)
	}
}

.fa-map-pin{
    color: red;
}